*{
    margin:0;
    box-sizing: border-box;
    padding:0;
}

body{
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
}

main{
    max-width: 800px;
    margin: 4rem 0;
    background-color: rgba(165, 165, 165, 0.062);
    padding: 1rem;
    border-radius: 0.5rem;
}

.inf-personal{
    display: flex;
    
}

.inf-personal img{
    margin-right: 1rem;
}

.inf-personal > div{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

h3{
    font-weight: 400;
}

h3 span{
    font-weight: 600;
}

li{
    margin-left: 1rem;
}

i{
    font-size: 2.5rem;
}

#facebook{
    color:blue;
    text-decoration: none;
}

#instagram{
    color: red;
    text-decoration: none;
}

h2{
    margin: 0.5rem 0;
}